@import "fonts";
@import "mq";
@import "palette";
// @import "enhancer";

.interactive-atom {
    margin: 0;
    padding: 0;
}

.cc-container {
    @include mq($from: wide) {
        //margin-left: 240px;
    }

    margin: auto;
    max-width: 1260px;

    padding-top: 12px;

    margin-bottom: 240px;
}

.cc-prehead {
    @include fs-header(1);
    color: #767676;
}

.cc-head {
    @include fs-header(4);
    margin-bottom: 3px;
}

.cc-date {
    @include fs-bodyCopy(2);
    margin-bottom: 12px;
}

.cc-map {
    width: 100%;
    max-width: 980px;
    margin: 0 10px;
    //overflow: visible !important;
    margin-top: -48px;
}

.cc-bubblemap {
    width: 100%;
    max-width: 980px;
    margin: 0 10px;
    margin-left: 250px;
}

.cc-bubble {
    fill: $gu-blue;
    //stroke: $gu-blue;
    fill-opacity: 0.6;
    //stroke-opacity: 0.8;
}

.cc-outline {
    stroke: #dcdcdc;
    stroke-width: 1.5px;
    fill: none;
    display: none;
}

.cc-land {
    fill: #f1f1f1;
    //stroke: #dcdcdc;
}

.cc-country {
    stroke: #dcdcdc;
    stroke: none;
    fill: none;

    transition: opacity 0.2s linear;

    &.cc-country--hl {
        fill: $gu-orange;
        stroke: $gu-orange;

        &.cc-country--faded {
            opacity: 0.2;
        }
    }
}

.cc-headlines {
    display: flex;
}

.cc-hyperlink {
    text-decoration-color: #333 !important;

}

.cc-box {
    max-width: 240px;
    padding: 3px 7.5px 9px 7.5px;
    //border: 1px solid black;
    background: #f6f6f6;
    margin-bottom: 4.5px;
    //background: white;
    border-top: 1px solid #dcdcdc;

    transition: background 0.2s linear;

    cursor: pointer;

    &:hover {
        background: $gu-orange;
        //border: 1px solid $gu-orange;
    }

    //border: 1px solid #dcdcdc;
}

.cc-boxlink {
    @include fs-headline(2);
    color: #333 !important;
    font-weight: normal;
}

.cc-list {
    max-width: 240px;
    width: 240px;
    flex-shrink: 0;
}