@import "fonts";
@import "mq";
@import "palette";
@import "tones";
// @import "enhancer";

$green: #3aec68;
$main: $green;

body {
    background: #121212;
}

.interactive-atom {
    margin: 0;
    padding: 0;
}

.cc-container {
    @include mq($from: wide) {
        //margin-left: 240px;
    }

    margin: auto;
    max-width: 1260px;

    padding-top: 12px;

    margin-bottom: 240px;
}

.cc-prehead {
    @include fs-header(1);
    color: #bdbdbd;
}

.cc-head {
    @include fs-header(4);
    margin-bottom: 3px;
}

.cc-head-transformed {
    transform: translateY(10px);
    position: absolute;
}

.cc-date {
    @include fs-bodyCopy(2);
    margin-bottom: 12px;
    color: #bdbdbd;
}

.cc-map {
    width: 100%;
    max-width: 980px;
    margin: 0 10px;
    //overflow: visible !important;
    margin-top: -48px;
}

.cc-bubblemap {
    width: 100%;
    max-width: 760px;
    margin: 0 10px;
    margin-left: 250px;
    overflow: visible !important;

    & text {
        pointer-events: none;
        user-select: none;
        fill: #eaeaea;
    }
}

.cc-bubble {
    fill: $main;
    //stroke: $gu-blue;
    fill-opacity: 0.7;
    //stroke-opacity: 0.8;
    //mix-blend-mode: multiply;
}

.cc-outline {
    stroke: #f6f6f6;
    stroke-width: 1.5px;
    fill: none;
    display: none;
}

.cc-land {
    fill: #282828;
    stroke: #282828;
}

.cc-country {
    stroke: #dcdcdc;
    stroke: none;
    fill: none;

    transition: opacity 0.2s linear;

    &.cc-country--hl {
        fill: $main;
        stroke: $main;
        cursor: pointer;

        &.cc-country--faded {
            opacity: 0.1;
        }
    }
}

h2 {
    color: white;
}

.cc-headlines {
    display: flex;
}

.cc-hyperlink {
    text-decoration-color: #333 !important;

}

.cc-box {
    max-width: 240px;
    padding: 3px 7.5px 9px 7.5px;
    font-size: 0;
    //border: 1px solid black;
    background: #f6f6f6;
    margin-bottom: 4.5px;
    //background: white;
    border-top: 1px solid #dcdcdc;

    transition: background 0.2s linear;

    cursor: pointer;

    &:hover {
        background: #eaeaea;
        //border: 1px solid $gu-orange;
    }

    //border: 1px solid #dcdcdc;
}

.cc-box-opinion {
    &:hover {
        background: #FCF3ED !important;
    }
}

.cc-boxlink {
    @include fs-headline(2);
    color: #333 !important;
    font-weight: normal;
    display: inline;
}

.cc-prefix {
    @include fs-header(1);
    display: inline;
}

.cc-byline {
    @include fs-headline(2);
    font-style: italic;
}

.cc-list {
    max-width: 240px;
    width: 240px;
    flex-shrink: 0;
    margin-top: 18px;
}

// list of articles

.cc-list-ul {
    margin-left: 0 !important;
    margin-bottom: 12px;
}

.cc-list-a {
    color: white !important;
}

.cc-list-section {
    width: 760px;
    margin-left: 250px;
    margin-bottom: 36px;
}

.cc-list-li {
    list-style-type: none;
    font-size: 17px;
    line-height: 21px;
    @include fs-headline(2);
    margin-bottom: 6px;
    color: white;
}

.cc-tri {
    
        margin: 0 3px;
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 0.375rem solid transparent;
        border-bottom: 0.375rem solid transparent;
        border-left: 0.625rem solid #bdbdbd;
    
}

.cc-more {
    color: black;
    background-color: $green;
    border-color: $green;
    border-radius: 200px;

    @include fs-textSans(3);
    font-weight: bold;
    line-height: 28px;
    padding: 0 0.625rem;

}

.inline-icon {
    display: inline-block;
    transform: translateY(3px);
    margin-right: 6px;
    fill: black;
}

.cc-voro {
    stroke: #dcdcdc;
    stroke: none;
    pointer-events: all;
    fill: none;
}

.cc-label {
    text-anchor: middle;
    @include fs-bodyCopy(2);
    display: none;

    stroke: #121212;
    paint-order: stroke;
    stroke-width: 3;

    &.cc-label--shown {
        display: block;
    }
}

.cc-cname {
    font-weight: bold;
}

.cc-val {
}

.content__head {
    display: none !important;
}
.content__meta-container {
    display: none !important;
}

.selected-article {
    background: #eaeaea;
    text-decoration: underline;
    text-decoration-color: #333;
}

.selected-article-opinion {
    background: #FCF3ED !important;
    text-decoration: underline;
    text-decoration-color: #333;
}
